USE [master]
GO
/****** Object:  Database [InformaticTextBook]    Script Date: 18.06.2026 20:07:49 ******/
CREATE DATABASE [InformaticTextBook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InformaticTextBook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\InformaticTextBook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InformaticTextBook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\InformaticTextBook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InformaticTextBook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InformaticTextBook]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 18.06.2026 20:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AnswerId] [int] IDENTITY(1,1) NOT NULL,
	[AnswerText] [nvarchar](100) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[IsCorrect] [bit] NOT NULL,
 CONSTRAINT [PK_Answers] PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lections]    Script Date: 18.06.2026 20:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lections](
	[LectionId] [int] IDENTITY(1,1) NOT NULL,
	[LectionPhotoId] [int] NULL,
	[LectionName] [nvarchar](50) NOT NULL,
	[LectionText] [nvarchar](max) NOT NULL,
	[LectionDate] [date] NOT NULL,
	[ThemeId] [int] NOT NULL,
 CONSTRAINT [PK_Lections] PRIMARY KEY CLUSTERED 
(
	[LectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 18.06.2026 20:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](100) NOT NULL,
	[TestId] [int] NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionsResults]    Script Date: 18.06.2026 20:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionsResults](
	[QuestionId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[IsRightAnswer] [bit] NOT NULL,
 CONSTRAINT [PK_QuestionsResults] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18.06.2026 20:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 18.06.2026 20:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[LectionId] [int] NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Themes]    Script Date: 18.06.2026 20:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Themes](
	[ThemeId] [int] IDENTITY(1,1) NOT NULL,
	[ThemeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Themes] PRIMARY KEY CLUSTERED 
(
	[ThemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypingResults]    Script Date: 18.06.2026 20:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypingResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Speed] [decimal](5, 1) NOT NULL,
	[Accuracy] [decimal](4, 1) NOT NULL,
	[DurationSeconds] [int] NOT NULL,
	[DateRecorded] [datetime] NULL,
	[Difficulty] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.06.2026 20:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserLogin] [varchar](50) NOT NULL,
	[UserPassword] [varchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visits]    Script Date: 18.06.2026 20:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits](
	[LectionId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[VisitTime] [int] NULL,
 CONSTRAINT [PK_Visits] PRIMARY KEY CLUSTERED 
(
	[LectionId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([AnswerId], [AnswerText], [QuestionId], [IsCorrect]) VALUES (1, N'Блез Паскаль', 1, 1)
INSERT [dbo].[Answers] ([AnswerId], [AnswerText], [QuestionId], [IsCorrect]) VALUES (2, N'Готфрид Лейбниц', 1, 0)
INSERT [dbo].[Answers] ([AnswerId], [AnswerText], [QuestionId], [IsCorrect]) VALUES (3, N'Чарльз Бэббидж', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Answers] OFF
GO
SET IDENTITY_INSERT [dbo].[Lections] ON 

SET IDENTITY_INSERT [dbo].[Lections] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [TestId]) VALUES (1, N'Кто изобрёл первую механическую счётную машину "Паскалина"?', 1)
INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [TestId]) VALUES (2, N'Кто создал арифмометр, выполнявший 4 операции?', 1)
INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [TestId]) VALUES (3, N'Кто спроектировал аналитическую машину?', 1)
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
INSERT [dbo].[QuestionsResults] ([QuestionId], [UserId], [IsRightAnswer]) VALUES (1, 5, 0)
INSERT [dbo].[QuestionsResults] ([QuestionId], [UserId], [IsRightAnswer]) VALUES (2, 2, 0)
INSERT [dbo].[QuestionsResults] ([QuestionId], [UserId], [IsRightAnswer]) VALUES (2, 5, 1)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Преподаватель')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Студент')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([TestId], [LectionId]) VALUES (1, 1)
INSERT [dbo].[Tests] ([TestId], [LectionId]) VALUES (2, 2)
INSERT [dbo].[Tests] ([TestId], [LectionId]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[Themes] ON 

INSERT [dbo].[Themes] ([ThemeId], [ThemeName]) VALUES (1, N'Основы информатики')
INSERT [dbo].[Themes] ([ThemeId], [ThemeName]) VALUES (2, N'Алгоритмы и программирование')
INSERT [dbo].[Themes] ([ThemeId], [ThemeName]) VALUES (3, N'Данные и структуры данных')
SET IDENTITY_INSERT [dbo].[Themes] OFF
GO
SET IDENTITY_INSERT [dbo].[TypingResults] ON 

INSERT [dbo].[TypingResults] ([Id], [UserId], [Speed], [Accuracy], [DurationSeconds], [DateRecorded], [Difficulty]) VALUES (1, 5, CAST(233.1 AS Decimal(5, 1)), CAST(41.2 AS Decimal(4, 1)), 26, CAST(N'2026-05-08T21:38:28.100' AS DateTime), N'Normal')
INSERT [dbo].[TypingResults] ([Id], [UserId], [Speed], [Accuracy], [DurationSeconds], [DateRecorded], [Difficulty]) VALUES (2, 5, CAST(172.5 AS Decimal(5, 1)), CAST(93.0 AS Decimal(4, 1)), 69, CAST(N'2026-05-08T21:43:30.360' AS DateTime), N'Normal')
INSERT [dbo].[TypingResults] ([Id], [UserId], [Speed], [Accuracy], [DurationSeconds], [DateRecorded], [Difficulty]) VALUES (3, 5, CAST(173.2 AS Decimal(5, 1)), CAST(71.7 AS Decimal(4, 1)), 68, CAST(N'2026-05-09T02:30:31.100' AS DateTime), N'Normal')
SET IDENTITY_INSERT [dbo].[TypingResults] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserLogin], [UserPassword], [RoleId]) VALUES (1, N'teacher1', N'm4dppKdClZotApjDb7cGI/LfrNqENiN98I2N/Vs3N0w=', 1)
INSERT [dbo].[Users] ([UserId], [UserLogin], [UserPassword], [RoleId]) VALUES (2, N'student1', N'GbndPiT62X9HQANA+B4RjKP4i+LuNQOzS5veCtWtfr0=', 2)
INSERT [dbo].[Users] ([UserId], [UserLogin], [UserPassword], [RoleId]) VALUES (3, N'student2', N'cfC0aCrLQARWtogZWH2FQ7DuYSWFv0ccaREudl2jSjE=', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[Visits] ([LectionId], [UserId], [VisitTime]) VALUES (1, 2, 0)
INSERT [dbo].[Visits] ([LectionId], [UserId], [VisitTime]) VALUES (1, 5, 557)
INSERT [dbo].[Visits] ([LectionId], [UserId], [VisitTime]) VALUES (2, 5, 10)
GO
ALTER TABLE [dbo].[TypingResults] ADD  DEFAULT (getdate()) FOR [DateRecorded]
GO
ALTER TABLE [dbo].[TypingResults] ADD  DEFAULT ('Normal') FOR [Difficulty]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_Questions]
GO
ALTER TABLE [dbo].[Lections]  WITH CHECK ADD  CONSTRAINT [FK_Lections_Themes] FOREIGN KEY([ThemeId])
REFERENCES [dbo].[Themes] ([ThemeId])
GO
ALTER TABLE [dbo].[Lections] CHECK CONSTRAINT [FK_Lections_Themes]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Tests] FOREIGN KEY([TestId])
REFERENCES [dbo].[Tests] ([TestId])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Tests]
GO
ALTER TABLE [dbo].[QuestionsResults]  WITH CHECK ADD  CONSTRAINT [FK_QuestionsResults_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[QuestionsResults] CHECK CONSTRAINT [FK_QuestionsResults_Questions]
GO
ALTER TABLE [dbo].[QuestionsResults]  WITH CHECK ADD  CONSTRAINT [FK_QuestionsResults_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[QuestionsResults] CHECK CONSTRAINT [FK_QuestionsResults_Users]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Lections] FOREIGN KEY([LectionId])
REFERENCES [dbo].[Lections] ([LectionId])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Lections]
GO
ALTER TABLE [dbo].[TypingResults]  WITH CHECK ADD  CONSTRAINT [FK_TypingResults_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TypingResults] CHECK CONSTRAINT [FK_TypingResults_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Lections] FOREIGN KEY([LectionId])
REFERENCES [dbo].[Lections] ([LectionId])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Lections]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Users]
GO
USE [master]
GO
